<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Predicción</title>
</head>
<body>
    <h1>Resultados de la Predicción</h1>
    <div>
        <!-- Tabla de pandas con la información del excel más la predicción del modelo al final  -->
        {{ data|safe }}
    </div>
    <h3>Precisión del modelo: {{ accuracy }}</h3>  <!-- Porcentaje de acierto del modelo -->
</body>
</html>
